<div id="accordion" >
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
      <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Weather Panel
      </button>
      </h5>
    </div>
    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body" [ngStyle] = "{'background-color': 'rgba(0, 0, 0, 1)'}">
        <div class="form" *ngIf = "editMode else displayResults">
          <div class = "text-center my-4">
            <form [formGroup] = 'weatherSearchForm'>
              <div class="form-group">
                <input
                  class="form-control"
                  type="text"
                  id="weatherLocation"
                  aria-describedby="weatherLocation"
                  placeholder="Enter City"
                  formControlName = "location"/>
              </div>
            </form>
            <button class="btn btn-success btn-md" (click) = "sendToAPI(weatherSearchForm.value)">Search</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<ng-template #displayResults>
  <div *ngIf = "weatherData else error">
    <div [ngStyle]="{'background-image': getUrl(),
                'background-repeat': 'no-repeat',
                'background-position': 'center',
                'background-size': 'cover'}">
                <app-current-weather [weatherData] = "weatherData"></app-current-weather>
                <div class="text-center my-4">
                  <button class="btn btn-success btn-md" (click) = "edit()">Edit</button>
                </div>
    </div>
  </div>
</ng-template>

<ng-template #error>
  <div class="text-center my-4">
    <h3>No city found. </h3>
    <p>Please try again.</p>
    <button class="btn btn-success btn-md" (click) = "edit()">Edit</button>
  </div>
</ng-template>
